<body>
    <nav class="navbar">
        <div class="logo-name">
            HireUp
        </div>
        <div class="hamburger">
            <img class="icon h-icon" src="Assets/Icons/square.png" alt="">
        </div>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/redirect">Login</a></li>
            <!-- <li><img class="icon mode" src="Assets/Icons/light-mode.png" alt=""></li> -->
        </ul>
    </nav>