<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/experts.css">
    <link rel="shortcut icon" href="/Assets/Images/HireUp_favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d536f61fb2.js" crossorigin="anonymous"></script>
    <script defer src="JS/index.js"></script>
    <title>HireUp | Painter</title>
</head>

<%- include('partials/nav') %>
    <div class="expert-wrapper">
        <h1>Painter</h1>
        <div class="experts-container">
            <div class="experts-card">
                <h3>Alok Singh</h3>
                <img src="/Assets/Images/man.png" alt="">
                <div class="description">
                    Plumber
                </div>
                <div class="rate">500/Hours</div>
                <button class="btn">
                    <a href="">View Profile</a>
                </button>
            </div>
            <div class="experts-card">
                <h3>Alok Singh</h3>
                <img src="/Assets/Images/man (1).png" alt="">
                <div class="description">
                    Plumber
                </div>
                <div class="rate">500/Hours</div>
                <button class="btn">
                    <a href="">View Profile</a>
                </button>
            </div>
            <div class="experts-card">
                <h3>Alok Singh</h3>
                <img src="/Assets/Images/man (2).png" alt="">
                <div class="description">
                    Plumber
                </div>
                <div class="rate">500/Hours</div>
                <button class="btn">
                    <a href="">View Profile</a>
                </button>
            </div>
            <div class="experts-card">
                <h3>Alok Singh</h3>
                <img src="/Assets/Images/man.png" alt="">
                <div class="description">
                    Plumber
                </div>
                <div class="rate">500/Hours</div>
                <button class="btn">
                    <a href="">View Profile</a>
                </button>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>


</html>